body {
  display: none;
  color: white;
  background-color: #F44336;
  transition: transform 1s ease;
  transform: translateY(-50px);
  font-family: 'Montserrat', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Merriweather', serif;
}

p {
  font-weight: 200;
}

.entering {
  transform: translateY(0px);
}
